.container{
  margin:200px 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeSlide 1s ease-in-out forwards;
  border: 1px solid black;
  border-radius: 10px;
  border-style:dotted
}
.h-4{
    margin-left: 2px;
}
@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}